.timer{
width:200px;
height:200px;
border:3px solid;
border-radius:200px;
display:inline-block;
margin:5px;
text-align:center;
background: linear-gradient(dodgerblue,magenta);
overflow:hidden;
font-size:25px;
color:black;
}

.timer > span{
	margin:0px;
	text-align:center;
	display:block;
	height:75px;
	font-size:41px;
	color:white;
}
#center{
   left: 0;
   text-align:center;
    margin: 10px auto;
    width: 66vw;
    z-index: 200;;
}
#s{
width:50vw;
margin:0 auto;
}


#s img,#s div{
width:150px;
height:150px;
display:inline;
}