
@charset "utf-8";
body {
    background: #0f0f0f none repeat scroll 0 0;
    color: white;
    margin: 0 auto;
}

#mainMenu {
    top: 10.4vw;
}
.StarGlow {
    animation: 4s ease 0s alternate none infinite running StarGlow;
    display: block;
    font-family: Comic Sans MS,Arial,serif;
    font-size: 5vw;
    height: 7vw;
    line-height: 3.5vw;
    margin: auto;
    outline: medium none;
    padding-top: 2vw;
    text-align: center;
    text-shadow: 0 0 4px white, 0 0 5px white, 0 0 10px white;
    vertical-align: middle;
}
@keyframes StarGlow {
0% {
    text-shadow: 0 0 4px white, 0 0 2px white, 0 0 10px white;
}
15% {
    text-shadow: 0 0 8px white, 0 0 3px white, 0 0 30px white;
}
30% {
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 10px white;
}
100% {
    text-shadow: 0 0 8px white, 0 0 5px white, 0 0 20px white;
}
}
header {
    background: rgba(0, 0, 0, 0) url("../images/bg.jpg") repeat scroll 0 0;
}
.logoG {
    border-radius: 50px;
    bottom: 100px;
    float: right;
    height: 75px;
    position: relative;
    right: 30px;
    width: 75px;
}
.logoE {
    border-radius: 150px;
    float: right;
    height: 7vw;
    position: relative;
    right: 1vw;
    top: 1vw;
    width: 7vw;
}
footer {
    color: white;
    text-align: center;
}
ul a, a:visited, a:active {
    color: white;
    text-decoration: none;
}
.nav {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 3px;
    height: 5vw;
    left: 1.5vw;
    padding: 2px 5px;
    position: absolute;
    top: 2vw;
    transition: border 0.3s linear 0s;
    width: 4.9vw;
}
.nav > div {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    height: 0.8vw;
    margin: 0.7vw 0;
    transition: background-color 0.3s linear 0s;
    width: 4.9vw;
}
.nav:hover > div {
    background-color: #06f;
}
.nav:hover {
    border: 1px solid #06f;
}
#main4 h3 {
    color: #f9c86a;
    font-size: 15px;
    margin: 4px;
    text-align: left;
}
#main4 h2 {
    color: #4282bc;
}
#bubblecontent {
    margin: 0 auto;
    transition: opacity 0.3s linear 0s;
}
#titlebar {
    background: #0073b7 none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #010;
    font-size: 17px;
    padding: 10px 20px;
}
#content_body {
    background: rgba(0, 115, 204, 0.32) none repeat scroll 0 0;
    color: #c6e6ff;
    margin: 0 auto 50px;
    padding: 5px 50px 50px;
	text-shadow:none;
}
#content {
    border-radius: 10px 10px 0 0;
    margin: 4px;
}
#body3 {
    background: black none repeat scroll 0 0;
    text-align: center;
}
#content h2 {
    font-family: Comic Sans MS,Arial,serif;
    text-align: center;
}
#body2 {
    text-align: center;
}
#main2 {
    margin: 10px auto;
    width: 95%;
}
#main2 > div img, #main2 > div {
    display: inline-block;
    height: 100px;
    width: 100px;
}
#main2 > div {
    margin: 0 auto;
}
#main1 {
    font-size: 15px;
    margin: 0 auto;
    width: 90%;
}
#main1 h4 {
    font-size: 20px;
    text-align: center;
}
#main1 h2 {
    color: #3399ff;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 1px 0 #3399ff, 0 3px 5px rgba(51, 153, 255, 0.2), 0 20px 20px rgba(51, 153, 255, 0.2);
}
#main {
    margin: 10px auto;
    text-align: center;
    width: 95%;
}
.p {
    text-align: center;
}
#main img, #main > div {
    display: inline-block;
}
#main img {
    border-radius: 199px;
    height: 125px;
    padding: 0;
    width: 125px;
}
#main > div {
    height: 300px;
    margin: 0 2vw;
    width: auto;
}
