@charset "utf-8";
body{
	background:#0F0F0F;
	margin:0px auto;
	color:white;
}




header  ul > a {
    text-align: center;
    border-radius: 10px;
    color: #999;
    font-size: 1.2vw;
	cursor:pointer;
    font-size:20px;
	height: 3vw;
    padding: 10px 10px 0;
    text-align: center;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    min-width: 70px;
	font-family:Comic Sans MS,Arial,serif;
	margin-right:10px;
}
header ul > a:hover {
    background: #1287c3 none repeat scroll 0 0;
    color: black;
}
header  ul {
    display: flex;
    list-style-type: none;
	background:rgba(0,0,0,1);
	text-align:center;
	margin:-3px auto;

	width:100%;

	}
#mainMenu{
top:10.4vw;
}
.StarGlow {
    display: block;
    line-height: 3.5vw;
    margin: 0;
    outline: none;
    vertical-align: middle;
    text-align: center;
    text-shadow: 0 0 4px white,
        0 0 5px white,
        0 0 10px white;
    -webkit-animation: 4s StarGlow infinite alternate;
	animation: 4s StarGlow infinite alternate;
	height:7vw;
	text-align:center;
	font-size:5vw;
	font-family:Comic Sans MS,Arial,serif;
	margin:auto;
	padding-top:2vw;
	}
@keyframes StarGlow {
0% {
    text-shadow: 0 0 4px white, 0 0 2px white, 0 0 10px white;
}
15% {
    text-shadow: 0 0 8px white, 0 0 3px white, 0 0 30px white;
}
30% {
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 10px white;
}
100% {
    text-shadow: 0 0 8px white, 0 0 5px white, 0 0 20px white;
}
}

header {
    background: rgba(0, 0, 0, 0) url("../images/bg.jpg") repeat scroll 0 0;
}
.logoG {
    border-radius: 50px;
    bottom: 100px;
    float: right;
    height: 75px;
    position: relative;
    right: 30px;
    width: 75px;
}
.logoE {
    border-radius: 150px;
    top: 1vw;
    float: right;
    height: 7vw;
    position: relative;
    right: 1vw;
    width: 7vw;
}
footer {
    color: white;
    text-align: center;
}
ul a, a:visited, a:active {
    color: white;
    text-decoration: none;
}
.nav {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 3px;
    height: 5vw;
    left: 1.5vw;
    padding: 2px 5px;
    position: absolute;
    top: 2vw;
    transition: border 0.3s linear 0s;
    width: 4.9vw;
}
.nav > div {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    height: 0.8vw;
    margin: 0.7vw 0;
    transition: background-color 0.3s linear 0s;
    width: 4.9vw;
}
.nav:hover > div {
    background-color: #06f;
}
.nav:hover {
    border: 1px solid #06f;
}
#main4 h3{
color:#f9c86a;
text-align:left;
font-size:15px;
margin:4px;
}


#main4 h2{
color:#4282bc;
}
   #bubblecontent {
    margin: 0 auto;
    transition: opacity 0.3s linear 0s;
}
#titlebar {
    background: #0073b7 none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #010;
    font-size: 17px;
    padding: 10px 20px;
}
#content_body {
    background: rgba(0, 115, 204, 0.32)  none repeat scroll 0 0;
    color: #c6e6ff;
    margin: 0 auto 50px;
    padding: 5px 50px 50px;
}
#content{
margin:4px;
border-radius: 10px 10px 0 0;
}
#body3{
background:black;
align:center;
text-align:center;
}
#content h2{
text-align:center;
font-family:Comic Sans MS,Arial,serif;
}
#body2{
text-align:center;
}
#main2{
width:95%;
margin:10px auto;

}

#main2 > div img, #main2 > div{
    display: inline-block;
    height: 100px;
    width: 100px;
}
#main2 > div{
margin:0px auto;
}
#main1{
width:90%;
font-size:15px;
margin:0px auto;
}
	
#main1 h4{
	
	font-size:20px;
	text-align:center;
}

#main1 h2{
	font-size:25px;
	color:#3399ff;
	text-align:center;
	text-shadow:0 1px 0 #3399ff,
0 3px 5px rgba(51, 153, 255, .2),  
0 20px 20px rgba(51, 153, 255, .2);
}
#main{
width:95%;
margin:10px auto;
text-align:center;
}

.p{
text-align:center;
}

#main  img, #main > div{
 display: inline-block;
}
#main  img{
width:90%;
height:60%;
padding:0px 10px 0px;
border-radius:199px;
}
#main > div{
width:200px;
margin:0px 8% 0px;
height:300px;

}